.middle-banner {
  background: #171c3f;
  margin-top: 80px;
  /* height: 600px; */
  color: #fff;
}

/* .middle-banner .main {
  margin-top: 80px;
  margin-left: 20px;
} */
.left-banner-header {
  padding-top: 50px;
  font-weight: 700;
  line-height: 50%;
  margin-top: 80px;
  letter-spacing: -1;
  font-weight: 900px;
}

.left-banner-header h1 {
  font-size: 60px;
  line-spacing: 5px;
  letter-spacing: -1;
  font-weight: 700px;
  margin-bottom: 40px;

}

.text {
  max-width: 430px;
  font-weight: 500;
  margin-bottom: 40px;
  line-height: 25px;
}

.right-banner {
  margin-top: 60px;
  /* margin-left: -100px; */
}
.object-animation {
  animation: MoveUpDown 5s linear infinite;
  position: relative;
}

@keyframes MoveUpDown {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -15px;
  }
}
