@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Regular.woff2') format('woff2'),
        url('../fonts/Graphik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
font-family: 'Spartan', sans-serif;
@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-BoldItalic.woff2') format('woff2'),
        url('../fonts/Merriweather-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Bold.woff2') format('woff2');
        
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}





 